#root {
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
  border: black 1px solid;
}

body {
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: rgb(12, 12, 95);
  text-align: center;
  margin-top: 5px;
  font-size: 40px;
}

.homeBody h2 {
  margin-bottom: 10px;
}

h4 {
  color: rgb(104, 104, 224);
  text-align: center;
  margin-bottom: 5px;
}

.homeButtons {
  text-align: center;
  margin-bottom: 5px;
}

.appBody {
  width: 100%;
  margin: 0 auto;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.searchForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0px 5px;
}

.candidateSearchForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0px 5px;
}

.searchBody {
  margin-bottom: 20px;
}

.searchButtons {
  height: 30px;
}

.allStateResultsCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  grid-gap: 5px;
}

.favoritedCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  width: 100%;
  margin: 10px 0px;
}

.favoriteCandidateButton {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}

.candidateCard {
  margin: 0 auto;
  display: inline-block;
}

.userInfo {
  padding: 20px;
}

.userEditDeleteButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: ". a b .";
}

.userEdit {
  grid-area: a
}

.userDelete {
  grid-area: b
}

